$white: #FFF;
$black: #000;
$gray-light: #F7F9F9;
$gray-dark: #E7E7E8;

$primary: #0066FF;
$primary-dark: #004DDF;
$primary-super-dark: #003380;
$primary-light: #609FFF;
$primary-super-light: #80B3FF;
