$white: #fff;
$black: #000;
$gray-super-light: #f7f9f9;
$gray-light: #e7e7e8;
$gray: #c7c7cb;
$gray-dark: #536471;

$primary: #0066ff;
$primary-dark: #004ddf;
$primary-super-dark: #003380;
$primary-light: #609fff;
$primary-super-light: #80b3ff;

$pink: #f91880;
$blue: #1d9bf0;
$red: #ba1717;

$success: #81c884;
$success-light: #e7f4e7;
$warning: #feb64b;
$warning-light: #fff2db;
$error: #fe8863;
$error-light: #ffe7e1;
$info: #62acec;
$info-light: #e0eefb;
