$white: #fff;
$black: #000;
$gray-super-light: #f7f9f9;
$gray-light: #e7e7e8;
$gray: #c7c7cb;
$gray-dark: #536471;

$primary: #0066ff;
$primary-dark: #004ddf;
$primary-super-dark: #003380;
$primary-light: #609fff;
$primary-super-light: #80b3ff;

$pink: #f91880;
$blue: #1d9bf0;
