@import "@/styles/colors.scss";

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 110%;
  color: $black;
}

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 14px;
}