@import '@/styles/colors.scss';

.emptyListMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  > :only-child {
    text-align: center;
    font-weight: bold;
    color: $gray-dark;
    line-height: 120%;
    font-size: 2rem;
  }
}
