.messagesContainer {
  max-height: 100vh;
  position: relative;
  overflow-y: auto;

  .messages {
    height: calc(100vh - 12.5rem);
    overflow-y: auto;
    margin-bottom: 7rem;
    scroll-behavior: smooth;
  }
}
