@import '@/styles/colors.scss';

.loaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .loader {
    display: block;
    margin: 0 auto;
    color: $gray-dark;
  }
}
